/* .terminal {
  font-family: monospace;
  background-color: black;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.command {
  margin-bottom: 4px;
} */
